.pagination {
  border-block: var(--border-width-2) solid currentColor;
  display: flex;
  justify-content: center;
  margin-block: var(--space-2);
  padding: var(--space-1) 0;
}

.pagination__button {
  color: var(--color-theme);
  padding-block: var(--space-0);
  padding-inline: var(--space-1);
}

@media (min-width: 38rem) {
  .pagination__button {
    padding-inline: var(--space-2);
  }
  .pagination__button--arrow {
    padding-inline: var(--space-0);
  }
}

@media (hover: hover) {
  .pagination__button:hover {
    text-decoration: underline;
  }
}

.pagination__button:active {
  text-decoration: underline;
}

.pagination__button:not(:last-child) {
  margin-right: var(--space-0);
}

.pagination__button:disabled {
  background: var(--color-theme);
  color: var(--color-ground) !important;
  cursor: default;
  text-decoration: none !important;
  transition-property: filter;
}
