.e-pagination {
  border-bottom: var(--e-border-width-1) solid var(--e-color-figure);
  border-top: var(--e-border-width-1) solid var(--e-color-figure);
  display: flex;
  justify-content: center;
  margin: var(--e-space-2) 0;
  padding: var(--e-space-1) 0;
  user-select: none;
}

.pagination__button {
  background: none;
  border-radius: var(--e-border-radius-0);
  color: var(--e-color-theme);
  padding: var(--e-space-0) var(--e-space-1);
}

@media (min-width: 501px) {
  .pagination__button {
    padding-left: var(--e-space-2);
    padding-right: var(--e-space-2);
  }
}

.pagination__button:first-child,
.pagination__button:last-child {
  padding-left: var(--e-space-0);
  padding-right: var(--e-space-0);
}

.pagination__button:focus {
  text-decoration: underline;
}

.pagination__button:hover {
  color: var(--e-color-theme-less);
  text-decoration: underline;
}

.pagination__button:active {
  color: var(--e-color-theme-more);
  text-decoration: underline;
}

.pagination__button:not(:last-child) {
  margin-right: var(--e-space-0);
}

.pagination__button:disabled {
  color: var(--e-color-ground) !important;
  background: var(--e-color-theme);
  text-decoration: none !important;
  cursor: default;
}
