.pagination {
  border-bottom: var(--border-width-2) solid currentColor;
  border-top: var(--border-width-2) solid currentColor;
  display: flex;
  justify-content: center;
  padding: var(--space-1) 0;
}

.pagination__button {
  color: var(--color-theme);
  padding: var(--space-0) var(--space-1);
}

@media (min-width: 37rem) {
  .pagination__button {
    padding-left: var(--space-2);
    padding-right: var(--space-2);
  }
}

@media (hover: hover) {
  .pagination__button:hover {
    color: var(--color-theme-less);
    text-decoration: underline;
  }
}

.pagination__button:active {
  color: var(--color-theme-more);
  text-decoration: underline;
}

.pagination__button:not(:last-child) {
  margin-right: var(--space-0);
}

.pagination__button:disabled {
  color: var(--color-ground) !important;
  background: var(--color-theme);
  text-decoration: none !important;
  cursor: default;
}
