.nav-sub-list__list {
  list-style: none;
  margin-top: calc(-1 * var(--space-0));
}

.nav-sub-list__heading {
  --color: var(--color-highlight-default);
  --hover-color: var(--color-theme-more);

  color: var(--color-theme);
  display: flex;
  filter: none !important; /* overrides tag-level button styles */
  justify-content: space-between;
  outline: 0; /* FIXME */
  padding: var(--space-1) var(--space-3);
  transition-property: background-color, color;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .nav-sub-list__heading {
    --hover-color: var(--color-theme-less);
  }
}

.nav-sub-list__heading:focus-visible {
  color: var(--color-theme-more);
}
@media (hover: hover) {
  .nav-sub-list__heading:hover {
    background-color: var(--color-ground-less);
    color: var(--hover-color);
  }
}

.nav-sub-list__icon {
  transition: transform var(--time-1) var(--easing-standard);
}
.nav-sub-list__icon--expanded {
  transform: rotate(-0.5turn);
}
