.bars__bar {
  animation: e-bar-appear var(--time-2) var(--easing-standard) forwards;

  /* --bar-number and --total-bars set by JS */
  animation-delay: calc(
    var(--bar-number) / (var(--total-bars) - 1) * var(--time-2)
  );
  transform: scaleY(0);
}

@keyframes e-bar-appear {
  to {
    transform: scaleY(1);
  }
}
