.bars__bar {
  animation: bar-appear var(--time-2) var(--easing-standard) forwards;

  /* --bar-number and --total-bars set by JS */
  animation-delay: calc(
    var(--bar-number) / (var(--total-bars) - 1) * var(--time-2)
  );
  scale: 1 0;
}

.bars__bar--clickable {
  transition-property: filter;
  cursor: pointer;
}
.bars__bar--clickable:hover:not(:active) {
  filter: brightness(1.15) contrast(1.15) saturate(1.15);
}

@keyframes bar-appear {
  to {
    scale: 1;
  }
}
