.d-display-group {
  align-items: center;
  display: grid;
  grid-gap: var(--space-1) var(--space-2);
  grid-template-columns: minmax(min-content, max-content) max-content;
  margin-left: var(--space-2);
}
