.d-transition__visual {
  animation-duration: var(--e-time-1);
  animation-iteration-count: infinite;
  animation-name: e-rotate;
  background: var(--e-color-figure);
  height: var(--e-space-3);
  width: var(--e-space-6);
}
