.d-transition {
  display: flex;
  flex-direction: column;
  height: 7.5rem;
}

.d-transition__visual-container {
  align-items: center;
  display: flex;
  flex: 1;
}

.d-transition__visual {
  animation-duration: var(--e-time-1);
  animation-iteration-count: infinite;
  animation-name: e-rotate;
  background: var(--e-color-figure);
  height: var(--e-space-2);
  transition: background-color var(--e-time-0) var(--e-transition);
  width: var(--e-space-5);
}
