.e-button {
  --color: var(--e-color-accent);
  --color-active: var(--e-color-accent-more);
  --color-focus: var(--e-color-accent-analagous);

  border-radius: var(--e-border-radius-0);
  box-shadow: var(--e-box-shadow-0);
  font-size: inherit;
  font-weight: var(--e-font-weight-bold);
  padding: var(--e-space-1) var(--e-space-3);
  transition-duration: var(--e-time-0);
  transition-property: background-color, border-color, box-shadow, transform;
  transition-timing-function: var(--e-easing-standard);
  user-select: none;
}

.e-button:hover {
  box-shadow: var(--e-box-shadow-1);
}

.e-button:active,
.e-button:disabled,
.e-button:focus {
  box-shadow: none;
}

.e-button--negative {
  --color: var(--e-color-negative);
  --color-active: var(--e-color-negative-more);
  --color-focus: var(--e-color-negative-analagous);
}

@media (max-width: 500px) {
  .e-button {
    display: block;
    width: 100%;
  }
}

.e-button--primary {
  background: var(--color);
  color: var(--e-color-ground);
  padding: calc(var(--e-space-1) + 2 * var(--e-border-width-0))
    calc(var(--e-space-3) + 2 * var(--e-border-width-0));
  position: relative;
}

.e-button--primary:focus {
  background: var(--color-focus);
  border-color: var(--color-focus);
}

.e-button--primary:active {
  background: var(--color-active);
  border-color: var(--color-active);
}

.e-button--primary:disabled {
  background: var(--e-color-balance);
  border-color: transparent;
}

.e-button--secondary {
  background: none;
  border: var(--e-border-default);
  border-color: var(--color);
  color: var(--color);
}

.e-button--secondary:focus {
  border-color: var(--color-focus);
  color: var(--color-focus);
}

.e-button--secondary:active {
  border-color: var(--color-active);
  color: var(--color-active);
}

.e-button--secondary:disabled {
  border-color: var(--e-color-balance);
  color: var(--e-color-balance);
}
