.e-button {
  border-radius: var(--e-border-radius);
  border-style: solid;
  border: var(--e-border-width) solid transparent;
  cursor: pointer;
  font-size: inherit;
  font-weight: var(--e-font-bold);
  outline: 0;
  padding: var(--e-space-2) var(--e-space-3);
  transition-duration: var(--e-time-0);
  transition-property: background, border-color;
  transition-timing-function: var(--e-transition);
}

a.e-button {
  text-decoration: none !important;
}

@media (max-width: 649px) {
  .e-button {
    display: block;
  }

  button.e-button {
    width: 100%;
  }
}

.e-button--primary {
  background: none;
  border-color: var(--e-color-accent);
  color: var(--e-color-ground-more);
  position: relative;
}

.e-button--primary::before {
  background: linear-gradient(
    var(--e-color-accent),
    var(--e-color-accent-more)
  );
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.e-button--primary::after {
  background: linear-gradient(
    var(--e-color-accent-more),
    var(--e-color-accent)
  );
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  transition: opacity var(--e-time-0) var(--e-transition);
}

.e-button--primary:hover:not(:disabled)::after {
  opacity: 1;
}

.e-button--primary:focus {
  background: var(--e-color-analagous);
  border-color: var(--e-color-analagous);
}

a.e-button--primary:focus:not(:disabled) {
  color: var(--e-color-ground-more);
}

a.e-button--primary:hover:not(:disabled) {
  color: var(--e-color-ground-more);
}

.e-button--primary:active {
  background: var(--e-color-accent-more);
  border-color: var(--e-color-accent-more);
}

.e-button--primary:disabled {
  border-color: transparent;
  cursor: not-allowed;
  background: var(--e-color-balance);
}

.e-button--secondary {
  background: none;
  border-color: var(--e-color-accent);
  color: var(--e-color-accent);
}

.e-button--secondary:focus {
  color: var(--e-color-analagous);
  border-color: var(--e-color-analagous);
}

.e-button--secondary:hover:not(:disabled) {
  color: var(--e-color-accent-less);
  border-color: var(--e-color-accent-less);
}
