.e-button {
  --color: var(--e-color-theme);
  --color-active: var(--e-color-theme-more);
  --color-hover: var(--e-color-theme-less);

  border-radius: var(--e-border-radius-0);
  filter: var(--e-drop-shadow-0);
  font-weight: var(--e-font-weight-bold);
  padding: var(--e-space-1) var(--e-space-3);
  transition-duration: var(--e-time-0);
  transition-property: background-color, border-color, filter, transform;
  transition-timing-function: var(--e-easing-standard);
  user-select: none;
}

.e-button:hover {
  filter: var(--e-drop-shadow-1);
}

.e-button:active,
.e-button:disabled,
.e-button:focus {
  filter: none;
}

.e-button--danger {
  --color: var(--e-color-negative);
  --color-active: var(--e-color-negative-more);
  --color-hover: var(--e-color-negative-less);
}

@media (max-width: 499px) {
  .e-button {
    display: block;
    width: 100%;
  }
}

.e-button--primary {
  background: var(--color);
  color: var(--e-color-ground);
  padding: calc(var(--e-space-1) + 2 * var(--e-border-width-0))
    calc(var(--e-space-3) + 2 * var(--e-border-width-0));
  position: relative;
}

.e-button--primary:hover {
  background: var(--color-hover);
  border-color: var(--color-hover);
}

.e-button--primary:active {
  background: var(--color-active);
  border-color: var(--color-active);
}

.e-button--primary:disabled {
  background: var(--e-color-balance);
  border-color: transparent;
}

.e-button--secondary {
  background: none;
  border: var(--e-border-default);
  border-color: var(--color);
  color: var(--color);
}

.e-button--secondary:hover {
  border-color: var(--color-hover);
  color: var(--color-hover);
}

.e-button--secondary:active {
  border-color: var(--color-active);
  color: var(--color-active);
}

.e-button--secondary:disabled {
  border-color: var(--e-color-balance);
  color: var(--e-color-balance);
}
