.quick-nav-link {
  background-color: var(--color-theme);
  color: var(--color-ground);
  padding: var(--space-1) var(--space-2);
  transition-duration: var(--time-0);
  transition-property: background-color;
  transition-timing-function: var(--easing-standard);
}

@media (hover: hover) {
  .quick-nav-link:hover {
    background-color: var(--color-theme-less);
    color: var(--color-ground);
  }
}

.quick-nav-link:active {
  background-color: var(--color-theme-more);
  color: var(--color-ground);
}

.quick-nav-link--active {
  background-color: var(--color-highlight-default) !important;
}
