.quick-nav-link {
  background: var(--color-theme);
  color: var(--color-ground);
  transition-duration: var(--time-0);
  transition-property: background-color, box-shadow;
  transition-timing-function: var(--easing-standard);
}

.quick-nav-link:focus,
.quick-nav-link:hover {
  background: var(--color-theme-less);
  color: var(--color-ground);
}

.quick-nav-link:active {
  background: var(--color-theme-more);
  box-shadow: var(--box-shadow-0);
  color: var(--color-ground);
}

.quick-nav-link--active {
  background: var(--color-highlight-default) !important;
}
