.e-menu {
  background: var(--e-color-ground-more);
  bottom: 0;
  box-sizing: border-box;
  filter: var(--e-drop-shadow-2);
  max-width: calc(200vw / 3);
  overflow: auto;
  padding: var(--e-space-3);
  position: fixed;
  right: 0;
  top: 0;
  transition: transform var(--e-time-1) var(--e-easing-standard);
  width: var(--e-menu-width);
}

@media (min-width: 1024px) {
  .e-menu {
    background: var(--e-color-ground);
    left: 0;
    right: initial;
    transform: none !important;
  }
}

.e-menu--enter,
.e-menu--exit-active {
  transform: translateX(var(--e-menu-width));
  transition-timing-function: var(--e-easing-accelerate);
}

.e-menu__close-button {
  position: absolute;
  right: var(--e-space-2);
  top: var(--e-space-2);
}
