.e-menu-link {
  list-style-type: disc;
}

.e-menu-list > .e-menu-link {
  list-style: none;
  margin: var(--e-space-2) 0 var(--e-space-1);
}

.e-menu-list > *:first-child {
  margin-top: 0;
}

.e-menu-link__link {
  transition: filter var(--e-time-0) var(--e-easing-standard);
}

.e-menu-link__link--active {
  --active-color: var(--e-color-theme-more);

  color: var(--active-color);
  filter: drop-shadow(
    var(--e-drop-shadow-even-2-no-color) var(--e-color-theme-less)
  );
  text-decoration: none;
}

.e-menu-link__link--active:hover {
  color: var(--active-color);
}
