.e-menu-link {
  list-style-type: disc;
}

.e-menu-list > .e-menu-link {
  list-style: none;
  margin: var(--e-space-2) 0 var(--e-space-1);
}

.e-menu-list > *:first-child {
  margin-top: 0;
}

.e-menu-link__link {
  transition: box-shadow var(--e-time-0) var(--e-easing-standard);
}

.e-menu-link__link--active {
  --active-color: var(--e-color-theme-more);

  box-shadow: var(--e-box-shadow-even-2-no-color) var(--e-color-theme-less);
  color: var(--active-color);
  text-decoration: none;
}

.e-menu-link__link--active:hover {
  color: var(--active-color);
}
