.d-banner {
  margin-top: var(--space-4);
}

.d-banner__icon {
  --size: 4em;

  animation: draw var(--time-2) var(--easing-standard) forwards;
  animation-delay: var(--time-1);
  display: block;
  height: var(--size);
  margin: 0 auto 0;
  stroke-dasharray: 2.5;
  stroke-dashoffset: 2.5;
  width: var(--size);
}
