.e-fab {
  background: var(--e-color-theme);
  border-radius: 50%;
  bottom: var(--e-space-2);
  color: var(--e-color-ground-more);
  filter: var(--e-drop-shadow-1);
  padding: var(--e-space-2);
  position: fixed;
  right: var(--e-space-2);
  transition-duration: var(--e-time-0);
  transition-property: background-color, filter, opacity, transform;
  transition-timing-function: var(--e-easing-standard);
  z-index: var(--e-z-index-1);
}

.e-fab:hover {
  background: var(--e-color-theme-less);
}

.e-fab:active:not(:disabled) {
  background: var(--e-color-theme-more);
  filter: var(--e-drop-shadow-0);
}

.e-fab:disabled {
  background: var(--e-color-balance);
}

.e-fab--enter,
.e-fab--exit-active {
  opacity: 0;
  transform: scale(0);
  transition-timing-function: var(--e-easing-accelerate);
}
