.fab {
  align-items: center;
  background: var(--color-gradient);
  bottom: var(--space-2);
  box-shadow: var(--box-shadow-1);
  color: var(--color-ground);
  display: flex;
  position: fixed;
  right: var(--space-2);
}

.fab:active:not(:disabled) {
  box-shadow: var(--box-shadow-0);
}

.fab--exiting,
.fab--preEnter {
  opacity: 0;
  scale: 0;
  transition-timing-function: var(--easing-accelerate);
}

.quick-nav-mounted .fab {
  display: none;
}

@media (min-width: 66rem) {
  .quick-nav-mounted .fab {
    display: initial;
  }
}
