.e-fab {
  --color: var(--e-color-accent);
  --color-active: var(--e-color-accent-more);
  --color-focus: var(--e-color-accent-analagous);
  --color-hover: var(--e-color-accent-less);

  border-radius: 50%;
  bottom: var(--e-space-2);
  box-shadow: var(--e-box-shadow-1);
  color: var(--e-color-ground-more);
  overflow: hidden;
  padding: var(--e-space-2);
  position: fixed;
  right: var(--e-space-2);
  transition-duration: var(--e-time-0);
  transition-property: background-color, box-shadow;
  transition-timing-function: var(--e-easing-standard);
  z-index: var(--e-z-index-1);
}

.e-fab::after,
.e-fab::before {
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--e-z-index--1);
}

.e-fab::after {
  background: var(--color);
}

.e-fab::before {
  background: var(--e-color-ground);
}

.e-fab:hover {
  background: var(--color-hover);
  border-color: var(--color-hover);
}

.e-fab:focus {
  background: var(--color-focus);
  border-color: var(--color-focus);
}

.e-fab:active:not(:disabled) {
  box-shadow: none;
  background: var(--color-active);
  border-color: var(--color-active);
}

.e-fab:disabled {
  background: var(--e-color-balance);
  border-color: transparent;
}
