.e-paper {
  background: var(--e-color-ground-more);
  box-shadow: var(--e-box-shadow-0);
  border-radius: var(--e-border-radius-0);
  overflow: hidden; /* prevents scrollbar issues on sliding transitions */
  padding: var(--e-space-2);
}

/* stylelint-disable no-descending-specificity */
.e-paper > *:first-child:not(.e-spinner),
.e-paper > *:first-child > *:first-child:not(.e-spinner),
.e-paper > *:first-child > *:first-child > *:first-child:not(.e-spinner),
.e-paper
  > *:first-child
  > *:first-child
  > *:first-child
  > *:first-child:not(.e-spinner),
.e-paper
  > *:first-child
  > *:first-child
  > *:first-child
  > *:first-child
  > *:first-child:not(.e-spinner) {
  margin-top: 0;
}

.e-paper > *:last-child:not(.e-spinner),
.e-paper > *:last-child > *:last-child:not(.e-spinner),
.e-paper > *:last-child > *:last-child > *:last-child:not(.e-spinner),
.e-paper
  > *:last-child
  > *:last-child
  > *:last-child
  > *:last-child:not(.e-spinner),
.e-paper
  > *:last-child
  > *:last-child
  > *:last-child
  > *:last-child
  > *:last-child:not(.e-spinner) {
  margin-bottom: 0;
}
/* stylelint-enable no-descending-specificity */

button.e-paper {
  outline: 0;
  position: relative;
  text-align: initial;
}

button.e-paper::before {
  background: var(--e-color-figure-more);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity var(--e-time-0) var(--e-easing-standard);
  z-index: var(--e-z-index-1);
}

button.e-paper:hover::before,
button.e-paper:focus::before {
  opacity: 0.07;
}
