.paper {
  background: var(--color-ground-more);
  overflow: hidden; /* prevents scrollbar issues on sliding transitions */
}

@media (min-width: 38rem) {
  .paper {
    border-radius: var(--border-radius-0);
  }
}

:is(.card, .paper) > :first-child:not(.spinner),
:is(.card, .paper) > :first-child > :first-child:not(.spinner),
:is(.card, .paper) > :first-child > :first-child > :first-child:not(.spinner) {
  margin-top: 0;
}

:is(.card, .paper) > :last-child:not(.spinner),
:is(.card, .paper) > :last-child > :last-child:not(.spinner),
:is(.card, .paper) > :last-child > :last-child > :last-child:not(.spinner) {
  margin-bottom: 0;
}

button.paper {
  position: relative;
  text-align: initial;
}

button.paper::before {
  background: var(--color-figure-more);
  content: "";
  inset: 0;
  opacity: 0;
  position: absolute;
  z-index: var(--z-index-1);
}
