.e-paper {
  background: var(--e-color-ground-more);
  border-radius: var(--e-border-radius-0);
  box-shadow: var(--e-box-shadow-0);
  overflow: hidden; /* prevents scrollbar issues on sliding transitions */
  padding: var(--e-space-2);
}

/* min width is just above e-max-width-1 */
@media (min-width: 38rem) {
  .e-paper {
    min-width: var(--e-max-width-0);
  }
}

.e-paper > *:first-child,
.e-paper > *:first-child > *:first-child,
.e-paper > *:first-child > *:first-child > *:first-child,
.e-paper > *:first-child > *:first-child > *:first-child > *:first-child,
.e-paper
  > *:first-child
  > *:first-child
  > *:first-child
  > *:first-child
  > *:first-child {
  margin-top: 0;
}

.e-paper > *:last-child,
.e-paper > *:last-child > *:last-child,
.e-paper > *:last-child > *:last-child > *:last-child,
.e-paper > *:last-child > *:last-child > *:last-child > *:last-child,
.e-paper
  > *:last-child
  > *:last-child
  > *:last-child
  > *:last-child
  > *:last-child {
  margin-bottom: 0;
}
