.d-color {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
}

.d-color__visual {
  border: var(--e-space-0) solid var(--e-color-figure);
  border-radius: var(--e-space-0);
  height: var(--e-space-7);
  transition: background var(--e-time-0) var(--e-transition);
  width: var(--e-space-7);
}
