.paper-group {
  display: grid;
  grid-gap: var(--e-space-2);
  overflow: hidden; /* prevents scrollbar issues on sliding transitions */
  width: calc(var(--e-break-point) - 2 * var(--e-space-2));
}

@media (min-width: 38rem) {
  .paper-group {
    width: var(--e-break-point);
  }
}
