.e-paper-group {
  --paper-group-margin: var(--e-space-2); /* used by Paper */

  display: grid;
  grid-gap: var(--e-space-2);
  max-width: var(--e-break-point);
  min-width: calc(100vw - 2 * var(--paper-group-margin));
  overflow: hidden; /* prevents scrollbar issues on sliding transitions */
  padding: var(--paper-group-margin);
}

@media (min-width: 37rem) {
  .e-paper-group {
    min-width: calc(var(--e-break-point) * 0.8);
  }
}
