.e-word-cloud {
  /* if you change this then update the value of ASPECT_RATIO in the script */
  --aspect-ratio: calc(5 / 3);
}

.e-word-cloud__word {
  animation-name: e-fade-in, e-word-slide;
  animation-duration: var(--e-time-2);
  animation-timing-function: var(--e-easing-standard);
  animation-fill-mode: forwards;

  /* --word-number and --total-words set by JS */
  animation-delay: calc(
    var(--word-number) / (var(--total-words) - 1) * var(--e-time-2)
  );
  opacity: 0;
}

@keyframes e-word-slide {
  from {
    transform: translate(
      calc((var(--aspect-ratio) / 2 - var(--word-x)) * 1px),
      calc(0.5px - var(--word-y) * 1px)
    );
  }
}
