.e-menu-button {
  margin-right: var(--e-space-2);
  transition: color var(--e-time-1) var(--e-easing-standard);
}

.e-menu-button:focus,
.e-menu-button:hover {
  color: var(--e-color-highlight-3);
}
