.e-spinner {
  --diameter: var(--e-space-4);

  animation: e-fade-in var(--e-time-2) var(--e-easing-standard),
    e-rotate var(--e-time-2) linear infinite;
  border: calc(var(--diameter) / 8) solid var(--e-color-accent);
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-flex;
  height: var(--diameter);
  width: var(--diameter);
}

.e-spinner--ground {
  border-color: var(--e-color-ground);
  border-right-color: transparent;
}

.e-spinner--page {
  --diameter: var(--e-space-5);

  display: flex;
  margin: var(--diameter) auto;
}
