.e-spinner {
  --diameter: var(--e-space-4);

  animation: var(--e-animation-fade-in), var(--e-animation-spin);
  border: calc(var(--diameter) / 8) solid var(--e-color-accent);
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-flex;
  height: var(--diameter);
  width: var(--diameter);
}

.e-spinner--page {
  --diameter: var(--e-space-5);

  display: flex;
  margin: var(--diameter) auto;
}
