.e-select__label {
  display: flex;
  flex-direction: column;
}

.e-select__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: var(--e-space-1);
}
