.e-select__icon {
  align-items: center;
  bottom: 0;
  pointer-events: none;
  right: var(--e-space-2);
  top: 0;
  transition: color var(--e-time-0) var(--e-easing-standard);
}

.e-select__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  padding-right: calc(var(--e-space-2) + var(--e-space-4));
  width: 100%;
}

.e-select__select::-moz-focus-inner {
  border: none;
}

option {
  overflow-x: hidden;
  padding: var(--spacing-1) var(--spacing-2);
  text-overflow: ellipsis;
}

.e-select__select:focus ~ .e-select__icon {
  color: var(--e-color-theme-less);
}

.e-select__select:hover ~ .e-select__icon {
  color: var(--e-color-theme-less);
}

.e-select__select[aria-invalid="true"] ~ .e-select__icon {
  color: var(--e-color-negative);
}
