.radio-button {
  --color: var(--color-theme);

  display: inline-flex;
  flex-grow: 1;
  margin-left: calc(-1 * var(--border-width-2));
  position: relative;
}

.radio-button__input {
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.radio-button__appearance {
  background-color: var(--color-ground-more);
  cursor: pointer;
  transition-property: border-color, color, filter;
  width: 100%;
}

@media (hover: hover) {
  .radio-button__appearance:hover {
    border-color: var(--color);
    color: var(--color);
    filter: brightness(1.2) saturate(1.2);
    z-index: var(--z-index-1);
  }
}

.radio-button:first-child .radio-button__appearance {
  border-bottom-left-radius: var(--border-radius-1);
  border-top-left-radius: var(--border-radius-1);
}

.radio-button:last-child .radio-button__appearance {
  border-bottom-right-radius: var(--border-radius-1);
  border-top-right-radius: var(--border-radius-1);
}

.radio-button__input:focus-visible ~ .radio-button__appearance {
  filter: brightness(1.2) saturate(1.2);
  z-index: var(--z-index-1);
}

.radio-button__input:active ~ .radio-button__appearance {
  filter: brightness(0.8) saturate(1.2);
  z-index: var(--z-index-1);
}

.radio-button-group {
  border: none;
}

.radio-button-group[aria-invalid="true"] .radio-button__appearance {
  color: var(--color-negative);
  border-color: var(--color-negative);
}

.radio-button__input:checked ~ .radio-button__appearance {
  background: var(--color);
  border-color: var(--color);
  color: var(--color-ground);
  z-index: var(--z-index-1);
}

@media (hover: hover) {
  .radio-button__input:checked ~ .radio-button__appearance:hover {
    filter: brightness(1.2) saturate(1.2);
  }
}

.radio-button__input:active:checked ~ .radio-button__appearance {
  filter: brightness(0.8) saturate(1.2);
}

.radio-button__input:checked:focus-visible ~ .radio-button__appearance {
  filter: brightness(1.2) saturate(1.2);
}
