.e-radio-button {
  display: inline-block;
  margin-left: calc(-1 * var(--e-border-width-1));
  position: relative;
}

.e-radio-button__input {
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.e-radio-button__appearance {
  background-color: var(--e-color-ground-more);
  border: var(--e-border-default);
  cursor: pointer;
  display: inline-block;
  min-width: var(--e-space-5);
  padding: var(--e-space-1);
  position: relative;
  text-align: center;
  transition-duration: var(--e-time-0);
  transition-property: background-color, border-color, color;
  transition-timing-function: var(--e-easing-standard);
}

.e-radio-button:first-child .e-radio-button__appearance {
  border-bottom-left-radius: var(--e-border-radius-0);
  border-top-left-radius: var(--e-border-radius-0);
}

.e-radio-button:last-child .e-radio-button__appearance {
  border-bottom-right-radius: var(--e-border-radius-0);
  border-top-right-radius: var(--e-border-radius-0);
}

.e-radio-button__appearance:hover {
  border-color: var(--e-color-accent-less);
  color: var(--e-color-accent-less);
  z-index: var(--e-z-index-1);
}

.e-radio-button__input:focus ~ .e-radio-button__appearance {
  border-color: var(--e-color-accent-analagous);
  color: var(--e-color-accent-analagous);
  z-index: var(--e-z-index-1);
}

.e-radio-button__input:active ~ .e-radio-button__appearance {
  border-color: var(--e-color-accent-more);
  color: var(--e-color-accent-more);
  z-index: var(--e-z-index-1);
}

.e-radio-button-group[aria-invalid='true'] .e-radio-button__appearance {
  border-color: var(--e-color-negative);
}

.e-radio-button__input:checked ~ .e-radio-button__appearance {
  background: var(--e-color-accent);
  border-color: var(--e-color-accent);
  color: var(--e-color-ground);
  z-index: var(--e-z-index-1);
}

.e-radio-button__input:checked ~ .e-radio-button__appearance:hover {
  background: var(--e-color-accent-less);
  border-color: var(--e-color-accent-less);
}

.e-radio-button__input:active:checked ~ .e-radio-button__appearance {
  background: var(--e-color-accent-more);
  border-color: var(--e-color-accent-more);
}

.e-radio-button__input:checked:focus ~ .e-radio-button__appearance {
  border-color: var(--e-color-accent-analagous);
  background: var(--e-color-accent-analagous);
}
