:root {
  --e-box-shadow-0: 0 0 0.25rem var(--e-color-balance-more);
  --e-box-shadow-1: var(--e-box-shadow-1-no-color) var(--e-color-balance-more);
  --e-box-shadow-1-no-color: 0 0 0.35rem;
  --e-box-shadow-2: var(--e-box-shadow-2-no-color) var(--e-color-figure-more);
  --e-box-shadow-2-no-color: 0 0 0.5rem;
  --e-input-box-shadow-focus: 0 0 var(--e-space-0) 0 var(--e-color-theme-less);
}
