:root {
  --e-box-shadow-1: var(--e-box-shadow-1-no-color) var(--e-color-balance-more);
  --e-box-shadow-1-no-color: 0 0 var(--e-space-1);
  --e-box-shadow-2: 0 0 var(--e-space-2) var(--e-color-figure-more);
  --e-input-box-shadow-focus: 0 0 var(--e-space-0) 0 var(--e-color-accent-less);
}
