:root {
  --e-gradient-angle: 356deg;

  --e-hue-accent: 210;
  --e-hue-accent-analagous: calc(var(--e-hue-accent) + var(--e-hue-rotate));
  --e-hue-negative: 345;
  --e-hue-negative-analagous: calc(var(--e-hue-negative) - var(--e-hue-rotate));
  --e-hue-positive: 150;
  --e-hue-rotate: 30;

  --e-lightness-0: 10%;
  --e-lightness-1: 40%;
  --e-lightness-2: 97%;

  --e-alpha-separation: 0.1;
  --e-alpha-0: 0.2;
  --e-alpha-0-less: calc(var(--e-alpha-0) - var(--e-alpha-separation));
  --e-alpha-0-more: calc(var(--e-alpha-0) + var(--e-alpha-separation));
  --e-alpha-1: 0.6;
  --e-alpha-1-less: calc(var(--e-alpha-1) - var(--e-alpha-separation));
  --e-alpha-1-more: calc(var(--e-alpha-1) + var(--e-alpha-separation));
  --e-alpha-2: 0.9;
  --e-alpha-2-less: calc(var(--e-alpha-2) - var(--e-alpha-separation));
  --e-alpha-2-more: calc(var(--e-alpha-2) + var(--e-alpha-separation));

  --e-sl-default: 100%, var(--e-lightness-1);

  --e-hsl-accent: var(--e-hue-accent), var(--e-sl-default);
  --e-hsl-figure: var(--e-hue-accent), 10%, var(--e-lightness-0);
  --e-hsl-ground: var(--e-hue-accent), 10%, var(--e-lightness-2);
  --e-hsl-negative: var(--e-hue-negative), var(--e-sl-default);
  --e-hsl-positive: var(--e-hue-positive), var(--e-sl-default);

  --e-color-accent: hsla(var(--e-hsl-accent), var(--e-alpha-2));
  --e-color-accent-less: hsla(var(--e-hsl-accent), var(--e-alpha-2-less));
  --e-color-accent-more: hsla(var(--e-hsl-accent), var(--e-alpha-2-more));
  --e-color-accent-analagous: hsla(
    var(--e-hue-accent-analagous),
    var(--e-sl-default),
    var(--e-alpha-2)
  );

  --e-color-balance: hsla(var(--e-hsl-figure), var(--e-alpha-1));
  --e-color-balance-less: hsla(var(--e-hsl-figure), var(--e-alpha-1-less));
  --e-color-balance-more: hsla(var(--e-hsl-figure), var(--e-alpha-1-more));

  --e-color-figure: hsla(var(--e-hsl-figure), var(--e-alpha-2));
  --e-color-figure-less: hsla(var(--e-hsl-figure), var(--e-alpha-2-less));
  --e-color-figure-more: hsla(var(--e-hsl-figure), var(--e-alpha-2-more));

  --e-color-ground: hsl(var(--e-hsl-ground));
  --e-color-ground-less: hsla(var(--e-hsl-ground), var(--e-alpha-2-less));
  --e-color-ground-more: #fff;

  --e-color-highlight-0: hsl(184, 100%, 48%);
  --e-color-highlight-1: hsl(270, 100%, 67%);
  --e-color-highlight-2: hsl(300, 90%, 65%);
  --e-color-highlight-3: hsl(32, 100%, 60%);
  --e-color-highlight-4: hsl(70, 100%, 45%);
  --e-color-highlight-5: hsl(148, 100%, 45%);

  --e-color-negative: hsla(var(--e-hsl-negative), var(--e-alpha-2));
  --e-color-negative-less: hsla(var(--e-hsl-negative), var(--e-alpha-2-less));
  --e-color-negative-more: hsla(var(--e-hsl-negative), var(--e-alpha-2-more));
  --e-color-negative-analagous: hsla(
    var(--e-hue-negative-analagous),
    var(--e-sl-default),
    var(--e-alpha-2)
  );

  --e-color-positive: hsla(var(--e-hsl-positive), var(--e-alpha-2));
  --e-color-positive-less: hsla(var(--e-hsl-positive), var(--e-alpha-2-less));

  --e-color-theme: #001e3c;
}

.e-theme-dark {
  --e-color-ground-more: #000;
  --e-color-theme: #001e21;
  --e-hue-accent: 185;
  --e-hue-negative: 310;
  --e-lightness-0: 97%;
  --e-lightness-1: 60%;
  --e-lightness-2: 10%;
}
