:root {
  --spread-modifier: 1;
  --balance-lightness: 45%;
  --balance-lightness-spread: calc(10% * var(--spread-modifier));
  --figure-hsl: var(--neutral-hs), var(--figure-lightness);
  --figure-lightness: 15%;
  --figure-lightness-spread: calc(10% * var(--spread-modifier));
  --ground-lightness: 95%;
  --ground-lightness-spread: calc(5% * var(--spread-modifier));
  --negative-hue: 345;
  --neutral-hs: var(--theme-hue), 15%;
  --positive-hue: 150;
  --theme-hue: 210;
  --theme-lightness: 22%;
  --theme-lightness-spread: 7%;

  --color-balance: hsl(var(--neutral-hs), var(--balance-lightness));
  --color-balance-less: hsl(
    var(--neutral-hs),
    calc(var(--balance-lightness) + var(--balance-lightness-spread))
  );
  --color-balance-more: hsl(
    var(--neutral-hs),
    calc(var(--balance-lightness) - var(--balance-lightness-spread))
  );

  --color-figure: hsl(var(--neutral-hs), var(--figure-lightness));
  --color-figure-less: hsl(
    var(--neutral-hs),
    calc(var(--figure-lightness) + var(--figure-lightness-spread))
  );
  --color-figure-more: hsl(
    var(--neutral-hs),
    calc(var(--figure-lightness) - var(--figure-lightness-spread))
  );

  --color-ground: hsl(var(--neutral-hs), var(--ground-lightness));
  --color-ground-less: hsl(
    var(--neutral-hs),
    calc(var(--ground-lightness) - var(--ground-lightness-spread))
  );
  --color-ground-more: hsl(
    var(--neutral-hs),
    calc(var(--ground-lightness) + var(--ground-lightness-spread))
  );
  --color-ground-highlight: hsl(var(--theme-hue), 100%, 95%);

  --color-highlight-0: hsl(184, 100%, 48%);
  --color-highlight-1: hsl(270, 100%, 67%);
  --color-highlight-2: hsl(300, 90%, 65%);
  --color-highlight-3: hsl(32, 100%, 55%);
  --color-highlight-4: hsl(70, 100%, 45%);
  --color-highlight-5: hsl(148, 100%, 45%);

  --color-highlight-default: var(--color-highlight-3);

  --color-mask: hsla(var(--neutral-hs), 10%, 0.75);

  --color-negative: hsl(var(--negative-hue), 75%, 50%);
  --color-negative-less: hsl(var(--negative-hue), 70%, 58%);
  --color-negative-more: hsl(var(--negative-hue), 90%, 43%);

  --color-positive: hsl(var(--positive-hue), 75%, 44%);
  --color-positive-less: hsl(var(--positive-hue), 70%, 54%);

  --color-theme: hsl(var(--theme-hue), 100%, var(--theme-lightness));
  --color-theme-less: hsl(
    var(--theme-hue),
    100%,
    calc(var(--theme-lightness) + var(--theme-lightness-spread))
  );
  --color-theme-more: hsl(
    var(--theme-hue),
    100%,
    calc(var(--theme-lightness) - var(--theme-lightness-spread))
  );
  --color-theme-app: hsl(
    var(--theme-hue),
    100%,
    calc(var(--theme-lightness) - 2 * var(--theme-lightness-spread))
  );

  /* components may override this prop
  currenlty it is used by the ripple utility class */
  --color: var(--color-theme);
}

@media (prefers-color-scheme: dark) {
  :root {
    --spread-modifier: -1;
    --balance-lightness: 60%;
    --figure-lightness: 80%;
    --ground-lightness: 5%;
    --ground-lightness-spread: calc(-5% * var(--spread-modifier));
    --color-ground-highlight: hsl(240, 100%, 10%);
    --negative-hue: 310;
    --theme-lightness: 50%;

    --color-highlight-0: hsl(184, 100%, 50%);
    --color-highlight-1: hsl(270, 100%, 70%);
    --color-highlight-2: hsl(300, 100%, 68%);
    --color-highlight-3: hsl(32, 100%, 64%);
    --color-highlight-4: hsl(70, 100%, 50%);
    --color-highlight-5: hsl(145, 100%, 45%);

    --color-highlight-default: var(--color-highlight-2);

    --color-mask: hsla(var(--neutral-hs), 20%, 0.75);
  }
}
