:root {
  --e-gradient-angle: 356deg;

  --e-hue-accent: 210;
  --e-hue-negative: 345;
  --e-hue-positive: 150;
  --e-hue-rotation: 30;

  --e-saturation-0: 10%;
  --e-saturation-1: 90%;
  --e-saturation-ratio: 1.09;

  --e-lightness-0: 15%;
  --e-lightness-1: 25%;
  --e-lightness-2: 35%;
  --e-lightness-3: 45%;
  --e-lightness-4: 97%;
  --e-lightness-separation: 10%;

  --e-alpha-balance: 0.85;

  --e-hue-accent-analagous: calc(var(--e-hue-accent) + var(--e-hue-rotation));

  --e-color-accent: hsl(
    var(--e-hue-accent),
    var(--e-saturation-1),
    var(--e-lightness-3)
  );
  --e-color-accent-analagous: hsl(
    var(--e-hue-accent-analagous),
    var(--e-saturation-1),
    var(--e-lightness-2)
  );
  --e-color-accent-less: hsl(
    var(--e-hue-accent),
    calc(var(--e-saturation-1) * var(--e-saturation-ratio)),
    calc(var(--e-lightness-3) + var(--e-lightness-separation))
  );
  --e-color-accent-more: hsl(
    var(--e-hue-accent),
    calc(var(--e-saturation-1) / var(--e-saturation-ratio)),
    calc(var(--e-lightness-3) - var(--e-lightness-separation))
  );

  --e-color-balance: hsla(
    var(--e-hue-accent),
    var(--e-saturation-0),
    var(--e-lightness-1),
    var(--e-alpha-balance)
  );
  --e-color-balance-less: hsla(
    var(--e-hue-accent),
    calc(var(--e-saturation-0) * var(--e-saturation-ratio)),
    calc(var(--e-lightness-1) + var(--e-lightness-separation)),
    var(--e-alpha-balance)
  );
  --e-color-balance-more: hsla(
    var(--e-hue-accent),
    calc(var(--e-saturation-0) / var(--e-saturation-ratio)),
    calc(var(--e-lightness-1) - var(--e-lightness-separation)),
    var(--e-alpha-balance)
  );

  --e-color-figure: hsl(
    var(--e-hue-accent),
    var(--e-saturation-0),
    var(--e-lightness-0)
  );
  --e-color-figure-less: hsl(
    var(--e-hue-accent),
    calc(var(--e-saturation-0) * var(--e-saturation-ratio)),
    calc(var(--e-lightness-0) + var(--e-lightness-separation))
  );
  --e-color-figure-more: hsl(
    var(--e-hue-accent),
    calc(var(--e-saturation-0) / var(--e-saturation-ratio)),
    calc(var(--e-lightness-0) - var(--e-lightness-separation))
  );

  --e-color-ground: hsl(
    var(--e-hue-accent),
    var(--e-saturation-0),
    var(--e-lightness-4)
  );
  --e-color-ground-less: hsl(
    var(--e-hue-accent),
    calc(var(--e-saturation-0) / var(--e-saturation-ratio)),
    calc(var(--e-lightness-4) - var(--e-lightness-separation))
  );
  --e-color-ground-more: hsl(
    var(--e-hue-accent),
    calc(var(--e-saturation-0) * var(--e-saturation-ratio)),
    calc(var(--e-lightness-4) + var(--e-lightness-separation))
  );

  --e-color-negative: hsl(
    var(--e-hue-negative),
    var(--e-saturation-1),
    var(--e-lightness-3)
  );
  --e-color-negative-analagous: hsl(
    calc(var(--e-hue-negative) - var(--e-hue-rotation)),
    var(--e-saturation-1),
    var(--e-lightness-2)
  );
  --e-color-negative-less: hsl(
    var(--e-hue-negative),
    calc(var(--e-saturation-1) * var(--e-saturation-ratio)),
    calc(var(--e-lightness-3) + var(--e-lightness-separation))
  );
  --e-color-negative-more: hsl(
    var(--e-hue-negative),
    calc(var(--e-saturation-1) / var(--e-saturation-ratio)),
    calc(var(--e-lightness-3) - var(--e-lightness-separation))
  );

  --e-color-positive: hsl(
    var(--e-hue-positive),
    var(--e-saturation-1),
    var(--e-lightness-3)
  );
  --e-color-positive-less: hsl(
    var(--e-hue-positive),
    calc(var(--e-saturation-1) * var(--e-saturation-ratio)),
    calc(var(--e-lightness-3) + var(--e-lightness-separation))
  );

  --e-color-highlight-0: hsl(184, 100%, 48%);
  --e-color-highlight-1: hsl(270, 100%, 67%);
  --e-color-highlight-2: hsl(300, 90%, 65%);
  --e-color-highlight-3: hsl(32, 100%, 60%);
  --e-color-highlight-4: hsl(70, 100%, 45%);
  --e-color-highlight-5: hsl(148, 100%, 45%);
}

.e-theme-dark {
  --e-hue-accent: 185;
  --e-hue-negative: 310;
  --e-lightness-0: 91%;
  --e-lightness-1: 75%;
  --e-lightness-2: 70%;
  --e-lightness-3: 60%;
  --e-lightness-4: 10%;
  --e-lightness-separation: -9%;
}
