:root {
  --e-hue-accent: 220;
  --e-hue-negative: 345;
  --e-hue-rotation: 30;

  --e-lightness: 45%;
  --e-lightness-figure: 15%;
  --e-lightness-ground: 98%;
  --e-lightness-analagous: 35%;
  --e-lightness-balance: 30%;
  --e-lightness-separation: 9%;

  --e-alpha-balance: 0.8;

  --e-hue-accent-analagous-0: calc(var(--e-hue-accent) - var(--e-hue-rotation));
  --e-hue-accent-analagous-1: calc(var(--e-hue-accent) + var(--e-hue-rotation));

  --e-saturation-0: 15%;
  --e-saturation-1: 75%;
  --e-saturation-2: 85%;

  --e-color-accent: hsl(
    var(--e-hue-accent),
    var(--e-saturation-2),
    var(--e-lightness)
  );
  --e-color-accent-analagous: hsl(
    var(--e-hue-accent-analagous-1),
    var(--e-saturation-2),
    var(--e-lightness-analagous)
  );
  --e-color-accent-less: hsl(
    var(--e-hue-accent),
    var(--e-saturation-2),
    calc(var(--e-lightness) + var(--e-lightness-separation))
  );
  --e-color-accent-more: hsl(
    var(--e-hue-accent),
    var(--e-saturation-2),
    calc(var(--e-lightness) - var(--e-lightness-separation))
  );

  --e-color-balance: hsla(
    var(--e-hue-accent-analagous-0),
    var(--e-saturation-0),
    calc(var(--e-lightness-balance) - var(--e-lightness-separation)),
    var(--e-alpha-balance)
  );
  --e-color-balance-less: hsla(
    var(--e-hue-accent-analagous-0),
    var(--e-saturation-0),
    var(--e-lightness-balance),
    var(--e-alpha-balance)
  );
  --e-color-balance-more: hsla(
    var(--e-hue-accent-analagous-0),
    var(--e-saturation-0),
    calc(var(--e-lightness-balance) - var(--e-lightness-separation)),
    var(--e-alpha-balance)
  );

  --e-color-figure: hsl(
    var(--e-hue-accent-analagous-0),
    var(--e-saturation-0),
    var(--e-lightness-figure)
  );
  --e-color-figure-less: hsl(
    var(--e-hue-accent-analagous-0),
    var(--e-saturation-0),
    calc(var(--e-lightness-figure) + var(--e-lightness-separation))
  );
  --e-color-figure-more: hsl(
    var(--e-hue-accent-analagous-0),
    var(--e-saturation-0),
    calc(var(--e-lightness-figure) - var(--e-lightness-separation))
  );

  --e-color-ground: hsl(
    var(--e-hue-accent-analagous-0),
    var(--e-saturation-0),
    var(--e-lightness-ground)
  );
  --e-color-ground-more: hsl(
    var(--e-hue-accent-analagous-0),
    var(--e-saturation-0),
    calc(var(--e-lightness-ground) + var(--e-lightness-separation))
  );

  --e-color-negative: hsl(
    var(--e-hue-negative),
    var(--e-saturation-1),
    var(--e-lightness)
  );
  --e-color-negative-analagous: hsl(
    calc(var(--e-hue-negative) - var(--e-hue-rotation)),
    var(--e-saturation-2),
    var(--e-lightness-analagous)
  );
  --e-color-negative-less: hsl(
    var(--e-hue-negative),
    var(--e-saturation-1),
    calc(var(--e-lightness) + var(--e-lightness-separation))
  );
  --e-color-negative-more: hsl(
    var(--e-hue-negative),
    var(--e-saturation-1),
    calc(var(--e-lightness) - var(--e-lightness-separation))
  );
}

.e-theme-dark {
  --e-color-accent: #339af0;
  --e-color-accent-less: #228be6;
  --e-color-accent-more: #4dabf7;
  --e-color-balance-less: hsla(
    var(--e-hue-accent-analagous-0),
    var(--e-saturation-0),
    20%,
    0.8
  );
  --e-color-balance-more: hsla(
    var(--e-hue-accent-analagous-0),
    var(--e-saturation-0),
    40%,
    0.8
  );
  --e-color-figure: #f8f9fa;
  --e-color-figure-less: #f1f3f5;
  --e-color-figure-more: #ffffff;
  --e-color-ground: #212529;
  --e-color-ground-more: #000000;
  --e-color-negative: hsl(var(--e-hue-negative), var(--e-saturation-1), 45%);
  --e-color-negative-analagous: hsl(
    calc(var(--e-hue-negative) - var(--e-hue-rotation)),
    var(--e-saturation-2),
    35%
  );
  --e-color-negative-less: hsl(
    var(--e-hue-negative),
    var(--e-saturation-1),
    37%
  );
  --e-color-negative-more: hsl(
    var(--e-hue-negative),
    var(--e-saturation-1),
    53%
  );
}
