:root {
  --e-blur-radius-0: 2px;
  --e-blur-radius-1: 3px;
  --e-blur-radius-2: 4px;

  --e-drop-shadow-0-no-color: 0 2px var(--e-blur-radius-0);
  --e-drop-shadow-1-no-color: 0 3px var(--e-blur-radius-1);
  --e-drop-shadow-2-no-color: 0 4px var(--e-blur-radius-2);

  --e-drop-shadow-even-0-no-color: 0 0 var(--e-blur-radius-0);
  --e-drop-shadow-even-1-no-color: 0 0 var(--e-blur-radius-1);
  --e-drop-shadow-even-2-no-color: 0 0 var(--e-blur-radius-2);

  --e-drop-shadow-0: drop-shadow(
    var(--e-drop-shadow-0-no-color) hsla(var(--e-figure-hsl), 0.4)
  );
  --e-drop-shadow-1: drop-shadow(
    var(--e-drop-shadow-1-no-color) hsla(var(--e-figure-hsl), 0.6)
  );
  --e-drop-shadow-2: drop-shadow(
    var(--e-drop-shadow-2-no-color) hsla(var(--e-figure-hsl), 0.8)
  );

  --e-drop-shadow-input-focus: drop-shadow(
    var(--e-drop-shadow-even-0-no-color) var(--e-color-theme-less)
  );
}
