:root {
  /* transition */
  --e-transition: ease-in-out;

  /* z-index */
  --e-z-index-1: 1;

  /* misc */
  --e-box-shadow: 0 0 var(--e-space-1) var(--e-color-figure-less);
  --e-input-box-shadow-focus: 0 0 var(--e-space-0) 0 var(--e-color-accent-less);
}
