:root {
  --e-space-scale-ratio: 1.61803;
  --e-space-0: calc(var(--e-line-height) * calc(1em / 5));
  --e-space-1: calc(var(--e-space-0) * var(--e-space-scale-ratio));
  --e-space-2: calc(var(--e-space-1) * var(--e-space-scale-ratio));
  --e-space-3: calc(var(--e-space-2) * var(--e-space-scale-ratio));
  --e-space-4: calc(var(--e-space-3) * var(--e-space-scale-ratio));
  --e-space-5: calc(var(--e-space-4) * var(--e-space-scale-ratio));
  --e-border-radius: var(--e-space-1);
  --e-border-width: 3px;
  --e-max-width-0: calc(9 * var(--e-space-5));
  --e-max-width-1: calc(12 * var(--e-space-5));
}

@media (max-width: 500px) {
  :root {
    --e-space-scale-ratio: 1.5;
    --e-max-width-0: 100vw;
    --e-max-width-1: 100vw;
  }
}
