:root {
  --e-space-scale-ratio: 1.61803;
  --e-space-0: calc(0.2em + 0.25vmin);
  --e-space-1: calc(var(--e-space-0) * var(--e-space-scale-ratio));
  --e-space-2: calc(var(--e-space-1) * var(--e-space-scale-ratio));
  --e-space-3: calc(var(--e-space-2) * var(--e-space-scale-ratio));
  --e-space-4: calc(var(--e-space-3) * var(--e-space-scale-ratio));
  --e-max-width-0: calc(90 * var(--e-space-0));
  --e-max-width-1: calc(4 / 3 * var(--e-max-width-0));
}

@media (max-width: 500px) {
  :root {
    --e-max-width-0: 100vw;
    --e-max-width-1: 100vw;
  }
}
