:root {
  --e-break-point: 100vw;
  --e-header-height: 3.93em;
  --e-menu-width: 16em;
  --e-space-for-menu: 0; /* used for components that need to shift when the menu is always open */
  --e-space-scale-ratio: 1.61803;
  --e-space-0: calc(1em / 3);
  --e-space-1: calc(var(--e-space-0) * var(--e-space-scale-ratio));
  --e-space-2: calc(var(--e-space-1) * var(--e-space-scale-ratio));
  --e-space-3: calc(var(--e-space-2) * var(--e-space-scale-ratio));
  --e-space-4: calc(var(--e-space-3) * var(--e-space-scale-ratio));
}

@media (min-width: 37rem) {
  :root {
    --e-break-point: 37rem;
  }
}

@media (min-width: 66rem) {
  :root {
    --e-space-for-menu: var(--e-menu-width);
  }
}
