:root {
  --e-time-base-value: 0.1s;
  --e-time-scale-ratio: 2.5;

  --e-time-0: var(--e-time-base-value);
  --e-time-1: calc(var(--e-time-0) * var(--e-time-scale-ratio));
  --e-time-2: calc(var(--e-time-1) * var(--e-time-scale-ratio));
}

@media (min-width: 500px) {
  :root {
    --e-time-0: calc(var(--e-time-base-value) * 1.1);
  }
}

@media (min-width: 1024px) {
  :root {
    --e-time-0: calc(var(--e-time-base-value) * 1.2);
  }
}
