:root {
  --e-font-size-0-min: 0.85rem;

  --e-font-size-scale-ratio: calc(5 / 4);
  --e-font-size-0: calc(var(--e-font-size-0-min) + 0.25vmin);
  --e-font-size-1: calc(var(--e-font-size-0) * var(--e-font-size-scale-ratio));
  --e-font-size-2: calc(var(--e-font-size-1) * var(--e-font-size-scale-ratio));
  --e-font-size-3: calc(var(--e-font-size-2) * var(--e-font-size-scale-ratio));
  --e-font-size-4: calc(var(--e-font-size-3) * var(--e-font-size-scale-ratio));
  --e-font-weight-bold: 900;
  --e-font-weight-normal: 400;
  --e-line-height: calc(4 / 3);
  --e-font-margin: calc(var(--e-line-height) * calc(2em / 3)) 0
    calc(var(--e-line-height) * calc(1em / 3));
}
