:root {
  --e-font-size-scale-ratio: calc(4 / 3);
  --e-font-size-0: calc(0.775rem + 0.2vmin);
  --e-font-size-1: calc(var(--e-font-size-0) * var(--e-font-size-scale-ratio));
  --e-font-size-2: calc(var(--e-font-size-1) * var(--e-font-size-scale-ratio));
  --e-font-size-3: calc(var(--e-font-size-2) * var(--e-font-size-scale-ratio));
  --e-font-size-4: calc(var(--e-font-size-3) * var(--e-font-size-scale-ratio));
  --e-font-weight-bold: 700;
  --e-font-weight-normal: 400;
  --e-line-height: 1.25;
  --e-font-margin-heading: var(--e-space-3) 0 var(--e-space-0);
  --e-font-margin-paragraph: var(--e-space-2) 0;
}
