:root {
  --e-font-bold: 600;
  --e-font-size-scale-ratio: calc(4 / 3);
  --e-font-size-0: 0.9rem;
  --e-font-size-1: calc(var(--e-font-size-0) * var(--e-font-size-scale-ratio));
  --e-font-size-2: calc(var(--e-font-size-1) * var(--e-font-size-scale-ratio));
  --e-font-size-3: calc(var(--e-font-size-2) * var(--e-font-size-scale-ratio));
  --e-font-size-4: calc(
    var(--e-font-size-3) * var(--e-font-size-scale-ratio) *
      var(--e-font-size-scale-ratio)
  );
  --e-heading-font-weight: 500;
}

@media (max-width: 550px) {
  :root {
    --e-font-size-0: 0.875rem;
    --e-font-size-scale-ratio: 1.25;
  }
}
