:root {
  /* z-index */
  --e-z-index--1: -1;
  --e-z-index-1: 1;
  --e-z-index-2: 2;
  --e-z-index-3: 3;

  /* misc */
  --e-box-shadow-1: 0 0 var(--e-space-1) var(--e-color-balance-more);
  --e-input-box-shadow-focus: 0 0 var(--e-space-0) 0 var(--e-color-theme-less);
}
