.line-chart {
  display: grid;
  grid-template-columns: 1em auto 1fr;
  grid-template-rows: min-content auto auto;

  /* mitigation for x axis labels that are translated
  outside of chart bounding box */
  margin-inline-end: var(--space-1);
  margin-block: var(--space-3);
  gap: var(--space-1);
  user-select: none;
}
.line-chart--centered {
  margin-inline-end: 0;
}

.line-chart__x-title {
  font-weight: var(--font-weight-bold);
  grid-column: 3;
  justify-self: center;
}

.line-chart__x-label {
  animation-delay: calc(
    var(--label-number) / max((var(--label-count) - 1), 1) * var(--time-2)
  );
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  translate: calc(
      var(--label-number) / max((var(--label-count) - 1), 1) * 100% - 50%
    )
    0;
}
.line-chart__x-label--centered {
  translate: none;
}

.line-chart__y-label {
  animation-delay: calc(
    var(--label-number) / max((var(--label-count) - 1), 1) * var(--time-2)
  );
  translate: 0
    calc(var(--label-number) / max((var(--label-count) - 1), 1) * -100% + 50%);
}

.line-chart__y-title {
  align-self: center;
  font-weight: var(--font-weight-bold);
  justify-self: center;
  rotate: 0.75turn;
}

.line-chart__plot-area {
  display: flex;
  position: relative;
}

.line-chart__svg {
  border-bottom: var(--border-width-1) solid var(--color-figure);
  border-left: var(--border-width-1) solid var(--color-figure);
}

.line-chart__point {
  --point-diameter: 0.275em;
  animation: point-appear var(--time-2) var(--easing-standard) both;

  /* --point-index and --total-points set by JS */
  animation-delay: calc(
    var(--point-index) / (var(--total-points) - 1) *
      (var(--time-3) - var(--time-2) / 2)
  );
  border-radius: 100%;
  height: var(--point-diameter);
  position: absolute;
  width: var(--point-diameter);
}

@keyframes point-appear {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.line-chart__x-axis {
  font-size: var(--font-size-0);
  display: flex;
  grid-column: 3;
}

.line-chart__y-axis {
  align-items: end;
  font-size: var(--font-size-0);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
