.e-card {
  --color: ;

  border: var(--e-border-width-1) solid var(--color);
  border-radius: var(--e-border-radius-1);
  box-shadow: var(--e-box-shadow-1-no-color) var(--color);
  padding: var(--e-space-3);
}

.e-card > *:first-child {
  margin-top: 0;
}

.e-card > *:last-child {
  margin-bottom: 0;
}

.e-card:nth-of-type(6n + 1) {
  --color: var(--e-color-highlight-0);
}
.e-card:nth-of-type(6n + 2) {
  --color: var(--e-color-highlight-1);
}
.e-card:nth-of-type(6n + 3) {
  --color: var(--e-color-highlight-2);
}
.e-card:nth-of-type(6n + 4) {
  --color: var(--e-color-highlight-3);
}
.e-card:nth-of-type(6n + 5) {
  --color: var(--e-color-highlight-4);
}
.e-card:nth-of-type(6n + 6) {
  --color: var(--e-color-highlight-5);
}
