/* NOTE: some shared Card styles are in the Paper stylesheet for convenience */

.card {
  background-color: var(--color-ground-more);
  border-color: var(--color);
  box-shadow: var(--box-shadow-even-1-no-color) var(--color);

  /* This is for applications that dynamically change the color of this component */
  transition: border-color var(--time-0) var(--easing-standard);
}

button.card {
  display: block;
  text-align: initial;
  width: 100%;
}

button.card:hover {
  box-shadow: var(--box-shadow-even-2-no-color) var(--color);
  transform: scale(1.01);
}

button.card:active {
  transform: scale(1);
}

.card:nth-child(6n + 1) {
  --color: var(--color-highlight-0);
}
.card:nth-child(6n + 2) {
  --color: var(--color-highlight-1);
}
.card:nth-child(6n + 3) {
  --color: var(--color-highlight-2);
}
.card:nth-child(6n + 4) {
  --color: var(--color-highlight-3);
}
.card:nth-child(6n + 5) {
  --color: var(--color-highlight-4);
}
.card:nth-child(6n + 6) {
  --color: var(--color-highlight-5);
}
