.d-easing__visual {
  animation: var(--animation-spin);
  background: var(--color-figure-more);
  height: var(--space-2);
  transition: background-color var(--time-0) var(--easing-standard);
  width: var(--space-4);
}
