.icon {
  --size: 1em;

  height: var(--size);
  vertical-align: middle;
  width: var(--size);
}

.icon--draw {
  animation: draw var(--time-1) var(--easing-standard) forwards;
  stroke-dasharray: 84;
  stroke-dashoffset: -84;
}

.icon--inline {
  bottom: 2px;
  position: relative;
}

.icon--margin-start {
  margin-inline-start: var(--space-0);
}
.icon--margin-end {
  margin-inline-end: var(--space-0);
}

.icon--size-2 {
  --size: var(--font-size-2);
}

.icon--size-3 {
  --size: var(--font-size-3);
}

.icon--size-4 {
  --size: var(--font-size-4);
}
