.e-icon {
  vertical-align: middle;
}

.e-icon--size-2 {
  height: var(--e-font-size-2);
  width: var(--e-font-size-2);
}

.e-icon--size-3 {
  height: var(--e-font-size-3);
  width: var(--e-font-size-3);
}
