.hljs-literal,
.hljs-number,
.hljs-template-variable,
.hljs-variable,
.hljs-tag .hljs-attr {
  color: var(--color-highlight-1);
}

.hljs-doctag,
.hljs-string {
  color: var(--color-highlight-3);
}

.hljs-keyword,
.hljs-attribute,
.hljs-name,
.hljs-tag {
  color: var(--color-theme-less);
}
