.d-time {
  display: flex;
  flex-direction: column;
  height: 7.5rem;
  text-align: center;
}

.d-time__visual-container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.d-time__visual {
  animation: var(--e-animation-spin);
  background: var(--e-color-figure-more);
  border-radius: var(--e-border-radius-0);
  height: var(--e-space-2);
  transition: background-color var(--e-time-0) var(--e-easing-standard);
  width: var(--e-space-4);
}
