.d-time__visual {
  animation-iteration-count: infinite;
  animation-name: e-rotate;
  animation-timing-function: linear;
  background: var(--e-color-figure);
  height: var(--e-space-3);
  width: var(--e-space-6);
}
