.nav-button {
  align-items: center;
  display: flex;
  margin-right: var(--space-0);
  transition: color var(--time-1) var(--easing-standard);
}

@media (hover: hover) {
  .nav-button:hover {
    color: var(--color-highlight-default);
  }
}

@media (min-width: 66rem) {
  .nav-button {
    display: none;
  }
}
