.nav-button {
  align-items: center;
  display: flex;
  transition: color var(--time-1) var(--easing-standard);
}

.nav-button:hover {
  color: var(--color-highlight-default);
}

@media (min-width: 66rem) {
  .nav-button {
    display: none;
  }
}
