.e-image-upload__img {
  border: var(--e-border-default);
  max-width: 50%;
}

.e-image-upload__input {
  display: inline-flex;
}

.e-image-upload__label {
  display: flex;
  flex-direction: column;
}
