.button-group {
  display: flex;
  flex-direction: column;
  margin: var(--space-3) 0 var(--space-4);
}

.button-group > *:not(:last-child) {
  margin-bottom: var(--space-3);
}

@media (min-width: 38rem) {
  .button-group {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .button-group > *:not(:first-child) {
    margin-right: var(--space-3);
  }

  .button-group > *:not(:last-child) {
    margin-bottom: unset;
  }
}
