header {
  background: var(--color-theme);
  color: var(--color-ground);
  display: flex;
  height: var(--header-height);
  justify-content: center;
}

header h1 {
  color: inherit;
  margin: 0;
}

header a {
  color: inherit;
  text-decoration: none;
  transition: text-shadow var(--time-1) var(--easing-standard);
}

.header__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 var(--space-2);
  width: min(calc(100vw - 2 * var(--space-2)), var(--break-point));
}

@media (min-width: 66rem) {
  header {
    position: sticky;
    top: 0;
    z-index: var(--z-index-2);
  }

  .header__container {
    margin-left: calc(var(--nav-width) + var(--space-2));
  }
}
