.e-header {
  background: var(--e-color-theme);
  color: var(--e-color-ground);
  filter: var(--e-drop-shadow-1);
  padding: var(--e-space-1)
    calc((100% - var(--e-max-width-1)) / 2 - var(--e-space-2));
  position: relative;
}

@media (min-width: 1024px) {
  .e-header:not(.e-header--no-menu) {
    padding-left: calc(
      (100% - var(--e-max-width-1) - var(--e-menu-width)) / 2 - var(--e-space-2)
    );
    padding-right: calc(
      (100% - var(--e-max-width-1) - var(--e-menu-width)) / 2 - var(--e-space-2) +
        var(--e-menu-width)
    );
  }
}

.e-header > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--e-space-2);
}

.e-header h1 {
  color: inherit;
  margin: 0;
}

.e-header a {
  color: inherit;
  text-decoration: none;
}

.e-header a,
.e-header button {
  transition: color var(--e-time-1) var(--e-easing-standard);
}

.e-header a:hover,
.e-header button:hover {
  color: var(--e-color-highlight-default);
}
