:root {
  --animation-fade-in: fade-in var(--time-2) var(--easing-standard) both;
  --animation-slide-in:
    var(--animation-fade-in),
    slide-in var(--time-1) var(--easing-decelerate) both;
  --animation-spin: rotate var(--time-2) linear infinite;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes rotate {
  to {
    rotate: 1turn;
  }
}

@keyframes scale-in {
  from {
    scale: 0.9;
  }
  to {
    scale: 1;
  }
}
@keyframes scale-out {
  from {
    scale: 1;
  }
  to {
    scale: 0.9;
  }
}

@keyframes slide-in {
  from {
    translate: 0 25vh;
  }
}

.fade-in {
  animation: var(--animation-fade-in);
  opacity: 0;
}

.slide-in > * {
  animation: var(--animation-slide-in);
}

.slide-children-in > * {
  animation: var(--animation-slide-in);
}
.slide-children-in > :nth-child(2) {
  animation-delay: var(--time-0);
}
.slide-children-in > :nth-child(3) {
  animation-delay: calc(var(--time-0) * 2);
}
.slide-children-in > :nth-child(4) {
  animation-delay: calc(var(--time-0) * 3);
}
.slide-children-in > :nth-child(5) {
  animation-delay: calc(var(--time-0) * 4);
}
.slide-children-in > :nth-child(6) {
  animation-delay: calc(var(--time-0) * 5);
}
.slide-children-in > :nth-child(7) {
  animation-delay: calc(var(--time-0) * 6);
}
.slide-children-in > :nth-child(8) {
  animation-delay: calc(var(--time-0) * 7);
}
.slide-children-in > :nth-child(9) {
  animation-delay: calc(var(--time-0) * 8);
}
.slide-children-in > :nth-child(10) {
  animation-delay: calc(var(--time-0) * 9);
}
.slide-children-in > :nth-child(11) {
  animation-delay: calc(var(--time-0) * 10);
}
.slide-children-in > :nth-child(12) {
  animation-delay: calc(var(--time-0) * 11);
}
