:root {
  --border-radius-0: 0.25em;
  --border-radius-1: calc(var(--border-radius-0) * var(--golden-ratio));
  --border-width-0: 1px;
  --border-width-1: calc(var(--border-width-0) * 2);
  --border-width-2: calc(var(--border-width-0) * 3);
}

.br-0 {
  border-radius: var(--border-radius-0);
}
.br-1 {
  border-radius: var(--border-radius-1);
}
.br-max {
  border-radius: 100em;
}

.bw-0 {
  border-width: var(--border-width-0);
  border-style: solid;
}
.bw-1 {
  border-width: var(--border-width-1);
  border-style: solid;
}
.bw-2 {
  border-width: var(--border-width-2);
  border-style: solid;
}
