:root {
  --border-radius-0: calc(2em / 5);
  --border-radius-1: calc(2em / 3);
  --border-width-0: 1px;
  --border-width-1: 2px;
  --border-width-2: 3px;
}

.br-0 {
  border-radius: var(--border-radius-0);
}
.br-1 {
  border-radius: var(--border-radius-1);
}
.br-max {
  border-radius: 100em;
}

.bw-0 {
  border-width: var(--border-width-0);
  border-style: solid;
}
.bw-1 {
  border-width: var(--border-width-1);
  border-style: solid;
}
.bw-2 {
  border-width: var(--border-width-2);
  border-style: solid;
}
