:root {
  --blur-radius-0: 4px;
  --blur-radius-1: 5px;
  --blur-radius-2: 6px;
  --color-box-shadow: light-dark(var(--color-figure), var(--color-ground-less));

  --box-shadow-even-0-no-color: 0 0 var(--blur-radius-0);
  --box-shadow-even-1-no-color: 0 0 var(--blur-radius-1);
  --box-shadow-even-2-no-color: 0 0 var(--blur-radius-2);

  --box-shadow-0: 0 1px var(--blur-radius-0)
    hsla(from var(--color-box-shadow) h s l / 0.3);
  --box-shadow-1: 0 2px var(--blur-radius-1)
    hsla(from var(--color-box-shadow) h s l / 0.4);
  --box-shadow-2: 0 3px var(--blur-radius-2)
    hsla(from var(--color-box-shadow) h s l / 0.5);

  --box-shadow-input-focus: var(--box-shadow-even-0-no-color)
    var(--color-theme-less);
}

.bs-0 {
  box-shadow: var(--box-shadow-0);
}
.bs-1 {
  box-shadow: var(--box-shadow-1);
}
