:root {
  --golden-ratio: 1.618; /* golden ratio (Ï†) */
}

a,
.ripple {
  overflow: hidden;
  position: relative;
}

.ripple::after {
  background-image: radial-gradient(circle, var(--color) 10%, transparent 10%);
  content: "";
  display: block;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  scale: 10;
  transition:
    opacity var(--time-2) var(--easing-standard),
    scale var(--time-1) var(--easing-standard);
}

.ripple:active::after {
  opacity: 0.25;
  scale: 0;
  transition: 0s;
}
