:root {
  --break-point: 100vw;
  --header-height: 3.93em;
  --nav-width: 17rem;
  --quick-nav-height: 0;
  --space-0: calc(1em / 3);
  --space-1: calc(var(--space-0) * var(--golden-ratio));
  --space-2: calc(var(--space-1) * var(--golden-ratio));
  --space-3: calc(var(--space-2) * var(--golden-ratio));
  --space-4: calc(var(--space-3) * var(--golden-ratio));
  --space-5: calc(var(--space-4) * var(--golden-ratio));
}

@media (min-width: 38rem) {
  :root {
    --break-point: 38rem;
  }
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: var(--space-0);
}
.p-2 {
  padding: var(--space-1);
}
.p-3 {
  padding: var(--space-2);
}
.p-4 {
  padding: var(--space-3);
}
