:root {
  --break-point: 100vw;
  --header-height: 3.93em;
  --nav-width: 16em;
  --space-for-nav: 0; /* used for components that need to shift when the nav is always open */
  --space-scale-ratio: 1.61803;
  --space-0: calc(1em / 3);
  --space-1: calc(var(--space-0) * var(--space-scale-ratio));
  --space-2: calc(var(--space-1) * var(--space-scale-ratio));
  --space-3: calc(var(--space-2) * var(--space-scale-ratio));
  --space-4: calc(var(--space-3) * var(--space-scale-ratio));
}

@media (min-width: 37rem) {
  :root {
    --break-point: 37rem;
  }
}

@media (min-width: 66rem) {
  :root {
    --space-for-nav: var(--nav-width);
  }
}

.m-0 {
  margin: 0;
}

.ml-1 {
  margin-left: var(--space-0);
}

.mr-1 {
  margin-right: var(--space-0);
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: var(--space-0);
}
.p-2 {
  padding: var(--space-1);
}
.p-3 {
  padding: var(--space-2);
}
.p-4 {
  padding: var(--space-3);
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: var(--space-0);
}
