:root {
  --font-size-scale-ratio: calc(4 / 3);
  --font-size-0: calc(0.72rem + 0.2vmin);
  --font-size-1: calc(var(--font-size-0) * var(--font-size-scale-ratio));
  --font-size-2: calc(var(--font-size-1) * var(--font-size-scale-ratio));
  --font-size-3: calc(var(--font-size-2) * var(--font-size-scale-ratio));
  --font-size-4: calc(var(--font-size-3) * var(--font-size-scale-ratio));
  --font-weight-bold: 800;
  --font-weight-normal: 500;
  --line-height: calc(4 / 3);
}

.fs-0 {
  font-size: var(--font-size-0);
}

.fw-b {
  font-weight: var(--font-weight-bold);
}
.fw-i {
  font-weight: initial;
}
.fw-n {
  font-weight: var(--font-weight-normal);
}

.italic {
  font-style: italic;
}
