:root {
  --e-font-size-scale-ratio: calc(4 / 3);
  --e-font-size-0: calc(0.725rem + 0.2vmin);
  --e-font-size-1: calc(var(--e-font-size-0) * var(--e-font-size-scale-ratio));
  --e-font-size-2: calc(var(--e-font-size-1) * var(--e-font-size-scale-ratio));
  --e-font-size-3: calc(var(--e-font-size-2) * var(--e-font-size-scale-ratio));
  --e-font-size-4: calc(var(--e-font-size-3) * var(--e-font-size-scale-ratio));
  --e-font-weight-bold: 700;
  --e-font-weight-normal: 400;
  --e-line-height: calc(4 / 3);
}

.fs-0 {
  font-size: var(--e-font-size-0);
}

.fw-b {
  font-weight: var(--e-font-weight-bold);
}
.fw-i {
  font-weight: initial;
}
.fw-n {
  font-weight: var(--e-font-weight-normal);
}

.italic {
  font-style: italic;
}
