.e-currency-field__label {
  display: flex;
  flex-direction: column;
}

.e-currency-field__input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.e-currency-field__input-container::after {
  align-items: center;
  bottom: 0;
  content: "£";
  display: flex;
  left: 1.1rem;
  position: absolute;
  top: 0;
}

.e-currency-field__input {
  padding: var(--e-space-1) 0 var(--e-space-1) 2.25rem;
}
