.e-currency-field {
  margin: var(--e-space-4) 0;
}

.e-currency-field__label {
  display: flex;
  flex-direction: column;
}

.e-currency-field__input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.e-currency-field__input-container::after {
  align-items: center;
  bottom: 0;
  content: "£";
  display: flex;
  left: 0;
  left: var(--e-space-2);
  position: absolute;
  top: 0;
}

.e-currency-field__input {
  background: var(--e-color-ground-more);
  border: var(--e-space-0) solid var(--e-color-figure);
  border-radius: var(--e-space-0);
  color: inherit;
  font-size: inherit;
  outline: none;
  padding: var(--e-space-2) 0 var(--e-space-2) 1.75rem;
  transition-duration: var(--e-time-0);
  transition-property: background, border;
  transition-timing-function: var(--e-transition);
}

.e-currency-field__input:focus {
  border-color: var(--e-color-accent-less);
  box-shadow: var(--e-input-box-shadow-focus);
}

.e-currency-field__input:hover {
  border-color: var(--e-color-accent-less);
}

.e-currency-field__input[aria-invalid="true"] {
  border-color: var(--e-color-negative);
  box-shadow: none;
}
