.currency-field__input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.currency-field__input-container::after {
  align-items: center;
  content: "£";
  display: flex;
  inset-block: 0;
  left: var(--space-2);
  position: absolute;
}

input.currency-field__input {
  padding-left: calc(var(--space-4) - var(--space-0));
}
