.e-points__point {
  animation: e-point-appear var(--e-time-2) var(--e-easing-standard) forwards;

  /* --point-number and --total-points set by JS */
  animation-delay: calc(
    var(--point-number) / (var(--total-points) - 1) *
      (var(--e-time-3) - var(--e-time-2) / 2)
  );
  opacity: 0;
  transform-origin: center;
}

@keyframes e-point-appear {
  to {
    opacity: 1;
  }
}
