.points__point {
  animation: point-appear var(--time-2) var(--easing-standard) forwards;

  /* --point-number and --total-points set by JS */
  animation-delay: calc(
    var(--point-number) / (var(--total-points) - 1) *
      (var(--time-3) - var(--time-2) / 2)
  );
  opacity: 0;
  transform-origin: center;
}

@keyframes point-appear {
  to {
    opacity: 1;
  }
}
