.e-checkbox {
  --checkbox-size: var(--e-font-size-3);
  --checkbox-margin-right: var(--e-space-2);

  position: relative;
  width: 100%;
}

.e-checkbox .e-field-error {
  margin-left: calc(var(--checkbox-size) + var(--checkbox-margin-right));
}

.e-checkbox__label {
  cursor: pointer;
  display: flex;
}

@media (min-width: 551px) {
  .e-checkbox__label {
    display: inline-flex;
  }
}

.e-checkbox__input {
  align-self: flex-start;
  bottom: 0;
  height: var(--checkbox-size);
  left: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--checkbox-size);
}

.e-checkbox__appearance {
  align-items: center;
  align-self: flex-start;
  background: var(--e-color-ground-more);
  border: var(--e-border-width) solid var(--e-color-figure);
  border-radius: var(--e-border-radius);
  box-sizing: border-box;
  color: var(--e-color-figure);
  display: inline-flex;
  flex-shrink: 0;
  height: var(--checkbox-size);
  justify-content: center;
  margin-right: var(--checkbox-margin-right);
  stroke-dasharray: 30;
  stroke-dashoffset: -30;
  transition-duration: var(--e-time-0);
  transition-property: border;
  transition-timing-function: var(--e-transition);
  width: var(--checkbox-size);
}

.e-checkbox__input:focus ~ .e-checkbox__appearance {
  border-color: var(--e-color-accent);
  box-shadow: var(--e-input-box-shadow-focus);
}

.e-checkbox__input:hover ~ .e-checkbox__appearance {
  border-color: var(--e-color-accent-less);
}

.e-checkbox__input[aria-invalid='true'] ~ .e-checkbox__appearance {
  border-color: var(--e-color-negative);
  box-shadow: none;
}

.e-checkbox__input:checked ~ .e-checkbox__appearance {
  stroke-dashoffset: 0;
  transition-property: border, stroke-dashoffset;
}

.e-checkbox__label-copy {
  align-items: center;
  display: flex;
}
