.e-button-group {
  display: flex;
  justify-content: center;
}

@media (min-width: 651px) {
  .e-button-group {
    border-top: var(--e-border-size) solid var(--e-color-balance);
    margin-top: var(--e-space-6);
  }
}
