.e-button-group {
  display: flex;
  margin: var(--e-space-3) 0 var(--e-space-4);
  text-align: center;
}

form .e-button-group {
  margin: var(--e-space-4) 0;
}

@media (max-width: 500px) {
  .e-button-group {
    flex-direction: column;
  }

  .e-button-group > *:not(:last-child) {
    margin-bottom: var(--e-space-3);
  }
}

@media (min-width: 501px) {
  .e-button-group {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
  }

  form .e-button-group {
    border-top: var(--e-border-width) solid var(--e-color-balance);
    padding-top: var(--e-space-3);
  }

  .e-button-group > *:not(:first-child) {
    margin-right: var(--e-space-3);
  }
}
