.dialog__close-button-container {
  margin-top: calc(var(--space-1) * -1);
}

.dialog__header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.dialog__header > :first-child {
  margin-top: 0;
}

.dialog__content > :last-child {
  margin-bottom: 0;
}
