.e-dialog {
  align-items: center;
  background-color: var(--e-color-balance-more);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;

  /* fixes issue on mobile where user can drag the mask down */
  top: -100vh;
  transition: opacity var(--e-time-0) var(--e-transition);
  z-index: var(--e-z-index-1);
}

.e-dialog--closed {
  opacity: 0;
  pointer-events: none;
}

.e-dialog__content {
  position: relative;
  padding: var(--e-space-1) 0;
}

.e-dialog__header {
  align-items: start;
  display: flex;
  justify-content: space-between;
}

.e-dialog__header > *:first-child {
  margin-top: 0;
}

.e-dialog__content > *:last-child {
  margin-bottom: 0;
}

.e-dialog__close {
  border-radius: var(--e-border-radius);
  color: inherit;
  padding: 0;
  margin-left: var(--e-space-2);
  transition-duration: var(--e-time-0);
  transition-property: background-color, color;
  transition-timing-function: var(--e-transition);
}

.e-dialog__close:hover {
  color: var(--e-figure-less);
}

.e-dialog__close:focus:not(:active):not(:hover) {
  background: var(--e-color-figure);
  color: var(--e-color-ground);
}

.e-dialog__close:active {
  color: var(--e-figure-more);
}

.e-dialog__dialog {
  margin: 100vh var(--e-space-3) 0;
  max-width: var(--e-max-width-0);
}
