.e-close-button {
  margin-left: var(--e-space-2);
  transition-duration: var(--e-time-0);
  transition-property: background-color, color;
  transition-timing-function: var(--e-easing-standard);
}

.e-close-button:hover {
  color: var(--e-color-figure-less);
}

.e-close-button:active {
  color: var(--e-color-figure-more);
}

.e-close-button:focus:not(:active) {
  background: var(--e-color-figure);
  color: var(--e-color-ground);
}
