.close-button {
  margin-left: var(--space-2);
  transition-duration: var(--time-0);
  transition-property: background-color, color;
  transition-timing-function: var(--easing-standard);
}

.close-button:hover {
  color: var(--color-figure-less);
}

.close-button:active {
  color: var(--color-figure-more);
}

.close-button:focus:not(:active) {
  background: var(--color-figure);
  color: var(--color-ground);
}
