.mask__container {
  position: relative;
}

.mask__mask {
  backdrop-filter: blur(var(--e-space-0));
  background-color: var(--e-color-mask);
  bottom: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--e-time-1) var(--e-easing-decelerate);
}

.mask__mask--enter,
.mask__mask--exit-active {
  opacity: 0;
  transition-duration: var(--e-time-2);
  transition-timing-function: var(--e-easing-standard);
}
