.mask__container {
  position: relative;
}

.mask__mask {
  backdrop-filter: blur(var(--space-0));
  background-color: var(--color-mask);
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity var(--time-1) var(--easing-decelerate);
}

.mask__mask--enter,
.mask__mask--exit-active {
  opacity: 0;
  transition-duration: var(--time-2);
}
