.toggle {
  --toggle-button-diameter: var(--space-2);
  --toggle-width: calc(2 * var(--toggle-button-diameter));

  position: relative;
}

.toggle__appearance {
  background: var(--color-balance);
  border-color: transparent;
  flex-shrink: 0;
  height: var(--toggle-button-diameter);
  padding: var(--border-width-2);
  transition-property: background-color, border-color, filter;
  width: var(--toggle-width);
}

.toggle__appearance::after {
  background: var(--color-ground);
  border-radius: 50%;
  content: "";
  display: block;
  height: var(--toggle-button-diameter);
  transition-property: translate;
  width: var(--toggle-button-diameter);
}

.toggle__input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  height: calc(var(--toggle-button-diameter) + 2 * var(--border-width-2));
  width: calc(var(--toggle-width) + 2 * var(--border-width-2));
}

.toggle__input:checked ~ .toggle__appearance {
  background: var(--color-positive);
}

.toggle__input:checked ~ .toggle__appearance::after {
  translate: calc(var(--toggle-width) - var(--toggle-button-diameter));
}

.toggle__input:focus ~ .toggle__appearance {
  border-color: var(--color-theme-less);
}

.toggle__input[aria-invalid="true"]:not(:focus-visible) ~ .toggle__appearance {
  border-color: var(--color-negative);
}

.toggle__input:disabled ~ .toggle__appearance {
  background: var(--color-balance);
}
.toggle__input:disabled ~ .toggle__appearance::after {
  background: var(--color-ground-less);
}

@media (hover: hover) {
  .toggle__input:hover:not(:disabled) ~ .toggle__appearance {
    background: var(--color-balance);
  }
  .toggle__input:checked:hover:not(:disabled) ~ .toggle__appearance {
    background: var(--color-positive);
    filter: brightness(1.1);
  }
}

.toggle__label {
  column-gap: var(--space-2);
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;
}
.toggle__label--disabled {
  cursor: not-allowed;
}

.toggle__label-copy {
  align-items: center;
  display: flex;
}
