.e-toggle {
  --toggle-button-diameter: var(--e-space-2);
  --toggle-width: calc(2 * var(--toggle-button-diameter));
}

.e-toggle__appearance {
  background: var(--e-color-balance);
  border-color: transparent;
  flex-shrink: 0;
  height: var(--toggle-button-diameter);
  padding: var(--e-border-width-2);
  transition-duration: var(--e-time-0);
  transition-property: background-color, border-color;
  transition-timing-function: var(--e-easing-standard);
  width: var(--toggle-width);
}

.e-toggle__appearance::after {
  background: var(--e-color-ground);
  border-radius: 50%;
  content: "";
  display: block;
  height: var(--toggle-button-diameter);
  transition: transform var(--e-time-0) var(--e-easing-standard);
  width: var(--toggle-button-diameter);
}

.e-toggle__input {
  opacity: 0;
  pointer-events: none;
  height: calc(var(--toggle-button-diameter) + 2 * var(--e-border-width-2));
  width: calc(var(--toggle-width) + 2 * var(--e-border-width-2));
}

.e-toggle__input:checked ~ .e-toggle__appearance {
  background: var(--e-color-positive);
}

.e-toggle__input:checked ~ .e-toggle__appearance::after {
  transform: translateX(
    calc(var(--toggle-width) - var(--toggle-button-diameter))
  );
}

.e-toggle__input:focus ~ .e-toggle__appearance {
  border-color: var(--e-color-theme-less);
}

.e-toggle__input[aria-invalid="true"] ~ .e-toggle__appearance {
  border-color: var(--e-color-negative);
}

.e-toggle__input:disabled ~ .e-toggle__appearance {
  background: var(--e-color-balance-less);
}
.e-toggle__input:disabled ~ .e-toggle__appearance::after {
  background: var(--e-color-ground-less);
}

.e-toggle__input:hover:not(:disabled) ~ .e-toggle__appearance {
  background: var(--e-color-balance-less);
}

.e-toggle__input:checked:hover:not(:disabled) ~ .e-toggle__appearance {
  background: var(--e-color-positive-less);
}

.e-toggle__label {
  column-gap: var(--e-space-2);
  cursor: pointer;
  grid-template-columns: auto 1fr;
}
.e-toggle__label--disabled {
  cursor: not-allowed;
}

.e-toggle__label-copy {
  align-items: center;
}
