@keyframes d-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* The aXe plugin has issues if this is not here 🤷 */
code {
  background: var(--e-color-ground);
  transition: background var(--e-time-0) var(--e-transition);
}
