html {
  background-color: var(--e-color-ground);
  color: var(--e-color-figure);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: var(--e-font-weight-normal);
  line-height: var(--e-line-height);
  min-height: 100%;
  transition-duration: var(--e-time-0);
  transition-property: background-color, color;
  transition-timing-function: var(--e-easing-standard);
}

body {
  font-size: var(--e-font-size-1);
  margin: 0;
}

header {
  background: var(--e-color-theme-more);
  box-shadow: var(--e-box-shadow-2);
  color: var(--e-color-ground);
  padding: var(--e-space-1)
    calc((100% - var(--e-max-width-1)) / 2 - var(--e-space-2));
  position: relative;
}

header > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--e-space-2);
}

header h1 {
  color: inherit;
  margin: 0;
}

header a {
  color: inherit;
  text-decoration: none;
}

header a,
header button {
  transition: color var(--e-time-1) var(--e-easing-standard);
}

header a:hover,
header button:hover {
  color: var(--e-color-highlight-3);
}

main {
  background: var(--e-color-ground-more);
  box-shadow: var(--e-box-shadow-0);
  box-sizing: border-box;
  margin: auto;
  overflow: hidden; /* prevents scrollbar issues on sliding transitions */
  padding: var(--e-space-4) var(--e-space-3);
}

/* min width is just above --e-max-width-1 */
@media (min-width: 40rem) {
  main {
    border-radius: var(--e-border-radius-0);
    margin: var(--e-space-3) auto;
    max-width: var(--e-max-width-1);
  }
}

main > *:first-child,
main > *:first-child > *:first-child,
main > *:first-child > *:first-child > *:first-child,
main > *:first-child > *:first-child > *:first-child > *:first-child {
  margin-top: 0;
}
main > *:last-child,
main > *:last-child > *:last-child,
main > *:last-child > *:last-child > *:last-child,
main > *:last-child > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}

a,
button {
  outline-color: var(--e-color-highlight-1);
}

fieldset {
  border-color: var(--e-color-balance);
  border-radius: var(--e-border-radius-1);
  border-width: var(--e-border-width-0);
  margin: var(--e-space-3) 0;
  padding: var(--e-space-1) var(--e-space-2);
  user-select: none;
}

@media (min-width: 501px) {
  form {
    margin: var(--e-space-4);
  }
}

legend {
  color: var(--e-color-figure-more);
  font-size: var(--e-font-size-0);
  font-weight: var(--e-font-weight-bold);
}

ul {
  margin: var(--e-space-2) 0;
  padding-left: var(--e-space-4);
}

li {
  margin: var(--e-space-1) 0;
}

h1,
h2,
h3,
h4 {
  color: var(--e-color-figure-more);
  font-weight: var(--e-font-weight-bold);
  margin: var(--e-font-margin-heading);
  transition: color, var(--e-time-0) var(--e-easing-standard);
}

h1 + h2,
h2 + h3,
h3 + h4 {
  margin-top: 0;
}

h1 {
  font-size: var(--e-font-size-4);
  text-align: center;
}

h2 {
  font-size: var(--e-font-size-3);
}

h3 {
  font-size: var(--e-font-size-2);
}

h4 {
  font-size: var(--e-font-size-1);
}

hr {
  border-bottom: none;
  border-color: var(--e-color-balance-less);
  border-left: none;
  border-right: none;
  border-width: var(--e-border-width-1);
  margin: var(--e-space-3) 0;
}

p {
  margin: var(--e-font-margin-paragraph);
  margin-top: 0;
}

p + p {
  margin: var(--e-font-margin-paragraph);
}

a::-moz-focus-inner {
  border: none;
}

main a,
nav a {
  color: var(--e-color-theme);
  transition-duration: var(--e-time-0);
  transition-property: color, text-decoration-color;
  transition-timing-function: var(--e-easing-standard);
}

main a:focus,
nav a:focus {
  color: var(--e-color-theme-less);
  text-decoration-color: transparent;
}

main a:hover,
nav a:hover {
  color: var(--e-color-theme-less);
  text-decoration-color: transparent;
}

main a:active,
nav a:active {
  color: var(--e-color-theme-more);
  text-decoration-color: transparent;
}

input:not([type='checkbox']),
select,
textarea {
  background-color: var(--e-color-ground-more);
  border-radius: var(--e-border-radius-0);
  border: var(--e-border-default);
  color: inherit;
  font-family: inherit; /* for firefox */
  font-size: inherit;
  outline: 0;
  padding: var(--e-space-1);
  transition-duration: var(--e-time-0);
  transition-property: background-color, border;
  transition-timing-function: var(--e-easing-standard);
}

input:not([type='checkbox']):focus,
select:focus,
textarea:focus {
  border-color: var(--e-color-theme-less);
  box-shadow: var(--e-input-box-shadow-focus);
}

input:not([type='checkbox']):hover,
select:hover,
textarea:hover {
  border-color: var(--e-color-theme-less);
}

input:not([type='checkbox'])[aria-invalid='true'],
select[aria-invalid='true'],
textarea[aria-invalid='true'] {
  border-color: var(--e-color-negative);
  box-shadow: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}

button::-moz-focus-inner {
  border: none;
}

button:disabled {
  cursor: not-allowed;
}

small {
  color: var(--e-color-figure-less);
  font-size: var(--e-font-size-0);
}

b,
strong {
  color: var(--e-color-figure-more);
  font-weight: var(--e-font-weight-bold);
}

img {
  border-radius: var(--e-border-radius-0);
  display: block;
  margin: var(--e-space-3) auto;
  max-width: calc(200% / 3);
}
