body {
  background: var(--e-color-ground);
  color: var(--e-color-figure);
  font-family: system-ui, sans-serif;
  font-size: var(--e-space-4);
  margin: 0;
  transition-duration: var(--e-time-0);
  transition-property: background, color;
  transition-timing-function: var(--e-transition);
}

header {
  background: var(--e-color-figure);
  color: var(--e-color-ground);
  margin-bottom: var(--e-space-6);
  padding: var(--e-space-2) 0;
  transition-duration: var(--e-time-0);
  transition-property: background, color;
  transition-timing-function: var(--e-transition);
}

header h1 {
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 52rem;
  padding: 0 var(--e-space-3);
}

h1 {
  font-size: var(--e-space-7);
  font-weight: var(--e-heading-font-weight);
  margin: var(--e-space-5) 0 var(--e-space-4);
  text-align: center;
}

h2 {
  font-size: var(--e-space-6);
  font-weight: var(--e-heading-font-weight);
  margin: var(--e-space-5) 0 var(--e-space-4);
}

h3 {
  font-size: var(--e-space-5);
  font-weight: var(--e-heading-font-weight);
  margin: var(--e-space-4) 0;
}

p {
  margin: var(--e-space-3) 0;
}

main a {
  color: var(--e-color-accent);
  outline: 0;
  text-decoration: none;
  transition: color var(--e-time-0) var(--e-transition);
}

main a:focus {
  color: var(--e-color-accent-more);
  text-decoration: underline;
}

main a:hover {
  color: var(--e-color-accent-less);
  text-decoration: underline;
}

main a:active {
  color: var(--e-color-accent-more);
  text-decoration: underline;
}
