@keyframes e-rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes e-fade-in {
  from {
    opacity: 0;
  }
}

[e-util='center'] {
  text-align: center;
}

.e-field {
  margin: var(--e-space-2) 0;
}
