[e-util*='center'] {
  text-align: center;
}

[e-util*='negative'] {
  color: var(--e-color-negative);
}

[e-util*='no-scroll'] {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
}

[e-util*='pre-line'] {
  white-space: pre-line;
}
