:root {
  --e-color-accent: #1971c2;
  --e-color-accent-less: #228be6;
  --e-color-accent-more: #1864ab;
  --e-color-balance: #868e96;
  --e-color-balance-less: #adb5bd;
  --e-color-balance-more: #495057;
  --e-color-figure: #212529;
  --e-color-ground: #f8f9fa;
  --e-color-ground-more: #ffffff;
  --e-color-negative: #c92a2a;
  --e-heading-font-weight: 500;
  --e-space-0: .15rem;
  --e-space-1: .25rem;
  --e-space-2: calc(2rem / 3);
  --e-space-3: .9rem;
  --e-space-4: 1.1rem;
  --e-space-5: 1.6rem;
  --e-space-6: 2.2rem;
  --e-space-7: 3rem;
  --e-time-0: .15s;
  --e-time-1: .75s;
  --e-transition: ease-in-out;
}

.e-theme-dark {
  --e-color-accent: #339af0;
  --e-color-accent-less: #228be6;
  --e-color-accent-more: #4dabf7;
  --e-color-balance-less: #495057;
  --e-color-balance-more: #adb5bd;
  --e-color-figure: #f8f9fa;
  --e-color-ground: #212529;
  --e-color-ground-more: #00000;
  --e-color-negative: #fa5252;
}
