.e-paper-group {
  --paper-group-margin: var(--e-space-2); /* used by Paper */

  display: grid;
  grid-gap: var(--e-space-3);
  margin: var(--paper-group-margin);
  max-width: var(--e-max-width-1);
  min-width: calc(100vw - 2 * var(--paper-group-margin));
}

@media (min-width: 501px) {
  .e-paper-group {
    min-width: var(--e-max-width-0);
  }
}
