.d-time__visual {
  animation: var(--e-animation-spin);
  background: var(--e-color-figure-more);
  height: var(--e-space-2);
  transition: background-color var(--e-time-0) var(--e-easing-standard);
  width: var(--e-space-4);
}
