.e-nav {
  background: var(--e-color-ground-more);
  bottom: 0;
  box-shadow: var(--e-box-shadow-2);
  box-sizing: border-box;
  max-width: calc(200vw / 3);
  overflow: auto;
  padding-bottom: var(--e-space-2);
  position: fixed;
  right: 0;
  top: 0;
  transition: transform var(--e-time-1) var(--e-easing-standard);
  width: var(--e-nav-width);
}

@media (min-width: 66rem) {
  .e-nav {
    background: var(--e-color-ground);
    box-shadow: var(--e-box-shadow-0);
    left: 0;
    padding-bottom: var(--e-space-3);
    right: initial;
    top: var(--e-header-height);
    transform: none !important;
  }
}

.e-nav--enter,
.e-nav--exit-active {
  transform: translateX(var(--e-nav-width));
  transition-timing-function: var(--e-easing-accelerate);
}

.nav__close-button {
  position: absolute;
  right: var(--e-space-2);
  top: var(--e-space-1);
}
