.e-radio-button-group {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.e-radio-button-group__container {
  display: flex;
}

.e-radio-button-group__legend {
  padding: 0;
}
