.nav-link {
  list-style: none;
}

.nav-link__link {
  --hover-color: var(--color-theme-more);

  display: block;
  padding: var(--space-1) var(--space-3);
  text-decoration: none;
  transition-duration: var(--time-0);
  transition-property: background-color, color;
  transition-timing-function: var(--easing-standard);
}

@media (prefers-color-scheme: dark) {
  .nav-link__link {
    --hover-color: var(--color-theme-less);
  }
}

.nav-link__link:focus-visible {
  color: var(--color-theme-more);
}
@media (hover: hover) {
  .nav-link__link:hover {
    background-color: var(--color-ground-less);
    color: var(--hover-color);
  }
}

.nav-sub-list__list .nav-link__link {
  padding-bottom: var(--space-0);
  padding-left: var(--space-4);
  padding-top: var(--space-0);
}

.nav-link__link--active {
  --color: var(--color-highlight-default);
  background-color: var(--color-ground-less);
  color: var(--color);
}
.nav-link__link--active:is(:focus, :hover) {
  color: var(--color);
}
