.nav-link {
  list-style: none;
}

.nav-link__link {
  --active-color: var(--color-highlight-default);

  display: block;
  text-decoration: none;
  transition-duration: var(--time-0);
  transition-property: background-color, color;
  transition-timing-function: var(--easing-standard);
}
.nav-link__link:focus {
  color: var(--color-theme-more);
}
.nav-link__link:hover {
  background: var(--color-ground-less);
  color: var(--color-theme-more);
}

.nav-sub-list .nav-link__link {
  padding-bottom: var(--space-0);
  padding-left: var(--space-4);
  padding-top: var(--space-0);
}

.nav-link__link--active {
  --color: var(--active-color);
  color: var(--color);
}
.nav-link__link--active:focus,
.nav-link__link--active:hover {
  color: var(--color);
}
